<phpunit colors="true">
  <testsuites>
    <testsuite name="Test-WriteiniFile">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <exclude>
      <directory suffix=".php">src</directory>
    </exclude>
  </coverage>
  <logging>
    <log type="coverage-clover" target="coverage/coverage.xml"/>
  </logging>
</phpunit>
